<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to My Flask Blog!</h1>
    <a href="/add"><button class="button-add">ADD NEW POST</button></a>
    <p></p>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
                <p class="flash-{{ category }}">{{ message }}</p>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% for data in posts %}
    <div class="post">
        <h2>{{ data["title"] }}</h2>
        <p><em>Written by {{ data["author"] }}</em></p>
        <p>{{ data["content"] }}</p>
        <div class="button-group">
            <a href="/delete/{{ data['id'] }}"><button class="button-delete">Delete</button></a>
            <a href="/update/{{ data['id'] }}"><button class="button-update">Update</button></a>
            <form action="{{ url_for('update_like', post_id=data['id']) }}" method="POST">
                <button type="submit" class="button button-like {% if data.get('likes', 0) > 0 %}liked{% endif %}">
                    <i class="fa fa-heart"></i>
                    <span>Like ({{ data.get('likes', 0) }})</span>
                </button>
            </form>
        </div>
</form>
    </div>
    {% endfor %}
</body>
</html>
